<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>                                                                         <!--定义servlet -->
        <servlet-name>MyFirstServlet</servlet-name>                                 <!--servlet的名称-->
        <servlet-class>niit.soft.servlet.MyFirstServlet</servlet-class>              <!--servlet本体所在位置-->
    </servlet>
    <servlet-mapping>                                                             <!--MyFirstServlet第一个路径映射-->
        <servlet-name>MyFirstServlet</servlet-name>                                 <!--与servlet相对应-->
        <url-pattern>/MyFirstServlet</url-pattern>                                   <!--页面的映射路径-->
    </servlet-mapping>
    <servlet-mapping>                                                               <!--MyFirstServlet第二个路径映射-->
        <servlet-name>MyFirstServlet</servlet-name>                                   <!--与servlet相对应-->
        <url-pattern>/aaa.a</url-pattern>                                               <!--页面的映射路径-->
    </servlet-mapping>

</web-app>